.mobileTravel {
  height: 700px;
  padding: 0 20px;
  background-size: cover;
  background-image: url("../../assets/banners/IMG_2215-min.jpg");
  background-position: center center;
  margin-top: -100px;
}

.logo-travel {
  width: 80px;
  top: 562px;
  left: 1023px;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .logo-travel {
    width: 70px;
    top: 573px;
    left: 846px;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .logo-travel {
    width: 70px;
    top: 571px;
    left: 614px;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .mobileTravel {
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: -250px;
  }
  .logo-travel {
    width: 70px;
    top: 590px;
    left: 261px;
    position: relative;
  }
}

@media only screen and (max-width: 375px) {
  .logo-travel {
    width: 70px;
    left: 251px;
    top: 591px;
    position: relative;
  }
}

@media only screen and (max-width: 320px) {
  .logo-travel {
    width: 60px;
    left: 211px;
    top: 601px;
    position: relative;
  }
}
