.wrapper {
  color: white;
  background-color: #343a40;
  text-align: center;
}
.align {
  text-align: center;
}
.footer-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .footer-web {
    display: none;
  }

  .footer-mobile {
    display: block;
  }
}