.logo-client {
  width: 100px;
}

@media only screen and (max-width: 1024px) {
  .logo-client {
    width: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-client {
    width: 70px;
  }
}

@media only screen and (max-width: 320px) {
  .logo-client {
    width: 50px;
  }
}
