.mobilePhinisi {
  height: 640px;
  padding: 0 20px;
  background-size: cover;
  color: #fff;
  background-image: url("../../assets/phinisi/phinisi-banner.jpeg");
  background-position: center center;
  margin-top: -56px;
}

.mobilePhinisi > .overlayPhinisi {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
  opacity: 0.1;
  height: 630px;
}

.logo-riara {
  width: 200px;
  top: 375px;
  left: 0;
  position: absolute;
}

.slider-multi {
  text-align: center;
  font-family: playfair display, serif;
}

.title-slider {
  margin-left: 3%;
  cursor: pointer;
}

.slider-image {
  width: 294px;
  height: 387px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.slider-image:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 1024px) {
  .slider-image {
    width: 270px;
    height: 427px;
    object-fit: cover;
  }

  .overlayPhinisi {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mobilePhinisi {
    height: 700px;
    background-image: url("../../assets/phinisi/phinisi-banner.jpeg");
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: -250px;
    left: 500px;
  }

  .slider-image {
    width: 100px;
    height: 187px;
    object-fit: cover;
  }

  .overlayPhinisi {
    display: none;
  }

  .logo-riara {
    width: 100px;
    top: 550px;
    left: 16px;
    position: absolute;
  }
}
