.mobilePhinisi {
  height: 700px;
  padding: 0 20px;
  background-size: cover;
  color: #fff;
  background-image: url("../../assets/phinisi/banner/web.jpg");
  background-position: center center;
  margin-top: -100px;
}

.logo-riara {
  width: 140px;
  top: 527px;
  left: 1000px;
  position: absolute;
}

.slider-multi {
  text-align: center;
  font-family: playfair display, serif;
}

.title-slider {
  margin-left: 3%;
  cursor: pointer;
}

.slider-image {
  width: 294px;
  height: 387px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.slider-image:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 1024px) {
  .slider-image {
    width: 270px;
    height: 427px;
    object-fit: cover;
  }

  .logo-riara {
    width: 140px;
    top: 460px;
    left: 790px;
    position: absolute;
  }
}

@media only screen and (max-width: 768px) {
  .logo-riara {
    width: 140px;
    top: 460px;
    left: 576px;
    position: absolute;
  }

  .slider-image {
    width: 210px;
    height: 350px;
    object-fit: cover;
  }

}

@media only screen and (max-width: 600px) {
  .mobilePhinisi {
    height: 700px;
    background-image: url("../../assets/phinisi/banner/mobile.JPG");
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: -250px;
    left: 500px;
  }

  .slider-image {
    width: 100px;
    height: 187px;
    object-fit: cover;
  }

  .logo-riara {
    width: 100px;
    top: 550px;
    left: 16px;
    position: absolute;
  }
}

@media only screen and (max-width: 320px) {
  .slider-image {
    width: 80px;
    height: 150px;
    object-fit: cover;
  }
}
