.mobile {
  /* height: 640px;
  background-image: url("../../assets/banners/compress/banner1-min.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -56px; */

  /* position: relative; */
  height: 640px;
  padding: 0 20px;
  background-size: cover;
  color: #fff;
  background-image: url("https://res.cloudinary.com/dewnmhir6/image/upload/v1590264591/banner1-min_uzn08i.jpg");
  /* background-image: url("../../assets/banners/compress/bannerMobile.jpg"); */
  background-position: center center;
  margin-top: -56px;
}

.mobile > .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
  opacity: 0.1;
  height: 630px;
}

.mobile > .inner {
  position: absolute;
  z-index: 2;
  margin-top: 20%;
  /* margin-left: 70px; */
  text-align: left;
}

.caption {
  width: 100%;
  padding-left: 11%;
  padding-right: 60%;
  font-size: large;
  text-align: justify;
  font-family: playfair display, serif;
  color: #bcaa9b;
}

@media only screen and (max-width: 1024px) {
  .mobile > .inner {
    position: absolute;
    z-index: 2;
    margin-top: 35%;
    /* margin-left: 70px; */
    text-align: center;
  }

  .caption {
    width: 100%;
    padding-left: 13%;
    padding-right: 13%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .mobile {
    height: 700px;
    background-image: url("https://res.cloudinary.com/dewnmhir6/image/upload/v1590265072/bannerMobile_xrc722.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: -250px;
  }

  .mobile > .inner {
    position: absolute;
    z-index: 2;
    margin-top: 105%;
    /* margin-left: 70px; */
    text-align: center;
    font-weight: 100;
  }

  .mobile > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    opacity: 0.1;
    height: 507px;
  }

  .caption {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: white;
    margin-top: 118px;
    font-size: small;
  }
}
